.homeContainer{
    background-color: black;
}
.bannerSection {
    background-image: linear-gradient( to top, rgba(1, 11, 25, 1), rgba(1, 11, 25, 0.6)), url('../../Images/banner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}
.bannerTextContainer {
    width: 60%;
}
.recentContainer{
    
}

.searchbox {
    background-color: white;
    border: 0px;
    /* border-bottom: 1px solid white; */
    border-radius: 30px;
    padding: 13px 30px;
}
.searchbtn{
    margin-left: 30px;
    border-radius: 0px;
    padding: 10px 45px;
    color: white;
    background: #deb141;
    border: none;
}
.searchbtn:hover{
    background-color: white;
}